@use '../../button';
@use '../../image';
$servicesHeight: 50rem;
$realEstateColor: rgb(129, 143, 251);
$mappingColor: rgb(255, 222, 162);
$roofingColor: rgb(181, 255, 243);
$imageRadius: 10px;
$border: solid;
// $border: none;


.serviceContainer{
    display: flex;
}

.image{
    // border: solid gray;
    height: $servicesHeight;
    @extend %backgroundImage;
    background-image: url('https://i.imgur.com/RKHnJgw.jpg');
}

.info{
    // border: solid purple;
    height: $servicesHeight;
    background-color: $realEstateColor;
    display: flex;
    justify-content: center;
    // align-items: center;
    padding-right: 2rem;
}

//Real estate services container
#realestateServiceContainer{
    padding-top: 4rem;
}


//Real estate services container
.textContainer{
    // border: solid green;
    color: var(--text-bright);
    padding: 0;
    padding-left: 3rem;
}

.textContainer > h1{
    font-size: 3rem;
}

.textContainer > p{
    font-size: 2rem;
}

.button{
    @extend %blackButtons;
    max-width: 5rem;
}



//Mapping services container styling
#mapInfo{
    background-color: $mappingColor;
    color: var(--text-dark);
}

#mapTextContainer{
    padding: 0;
}

#mapTextContainer > h1{
    color: var(--text-dark);
}

#mapTextContainer > p{
    color: var(--text-dark);
}

#mapServiceContainer{
    padding: 6rem 1rem 6rem 2rem;
    background-color: $mappingColor;
}

#mapImage{
    border-radius: $imageRadius;
}


//Roofing and construction container styling
.serviceWrapper{
    // border: solid green;
    display: flex;
    padding: 6rem 2rem 6rem 2rem;;
}

#roofInfo{
    background-color: $roofingColor;

}

#roofTextContainer{
    color: var(--text-dark);
    // padding-left: 2rem;
    padding: 1rem;
    width: 100%;
}

#roofServiceContainer{
    // border: solid black;
    display: flex;
    flex-direction: column;
    background-color: $roofingColor;
}

#roofImage{
    // border: solid red;
    border-radius: $imageRadius;
}


#roofServiceContainer > .serviceWrapper:nth-child(1) > #roofInfo > #roofTextContainer{
   padding-left: 2rem;
}


//Videography container styling.
#videoTextContainer{
    // border: solid gray;
    position: relative;
    z-index: +2;
    bottom: 45rem;
    // padding: 0 5rem 0 5rem;
}

#videoImage{
    width: 100%;
    position: relative;
    height: 65rem;
}


//Changing the div sizing and layout based on mobile
//viewing.
@media only screen and (max-width: 1000px) {
    .serviceContainer{
        flex-direction: column;
        // padding: 2rem
    }
    .textContainer{
        // margin: 2rem;
        padding-right: 2rem;
    }

    //Map styling responsiveness.
    #mapTextContainer{
        margin: 0;
    }

    //Roof inspection responsiveness.
    #roofServiceContainer{
        border: $border gray;
        flex-direction: column;
    }

    .serviceWrapper{
        flex-direction: column;
    }

    #roofServiceContainer > .serviceWrapper:nth-child(1) > #roofInfo > #roofTextContainer{
        padding-left: 0;
     }
    .image{
        border: $border black;
        height: 30rem;
    }
    .info{
        border: $border brown;
        height: 30rem;
    }
    #realestateServiceContainer{
        padding-top: 1rem;
        // padding: 0 2rem 0 2rem;
    }
    #mapServiceContainer{
        padding: 6rem 2rem 6rem 2rem;
    }
    #mapInfo{
        border: $border salmon;
        padding-right: 0;
        padding-bottom: 3rem;
    }
    #realestateInfo{
        border: $border red;
        // padding: 0 5rem 0 5rem;
    }
    #realestateServiceContainer{
        border: $border gray;
        padding: 0 6rem 0 6rem;
    }
}

//Changing the div sizing and layout based on desktop
//viewing.
@media only screen and (min-width: 1000px){
    .serviceContainer{
        flex-direction: row;
    };
    .info{
        width: 50%;
        // padding: 2rem;
    }
    .image{
        width: 50%;
    }
    .textContainer{
        padding: 2rem;
    }

    //Font will get bigger when its a desktop 
    //screen.
    #videoTextContainer{
        h1{
            font-size: 5rem;
        }
    
        p{
            font-size: 3rem;
        }
    }

    #videoTextContainer{
        padding: 0 5rem 0 5rem;
    }
}

