@use '../../button';
@use '../../image';
$servicesHeight: 50rem;
$realEstateColor: rgb(129, 143, 251);
$mappingColor: rgb(255, 222, 162);
$roofingColor: rgb(181, 255, 243);
$imageRadius: 10px;
// $border: solid;
$border: none;


.serviceContainer{
    display: flex;
}

.image{
    height: $servicesHeight;
    @extend %backgroundImage;
    background-image: url('https://i.imgur.com/RKHnJgw.jpg');
}

.info{
    height: $servicesHeight;
    background-color: $realEstateColor;
    justify-content: center;
}

//Real estate.
#realestateServiceContainer{
    padding-top: 4rem;
}


.textContainer{
    color: var(--text-bright);
    padding: 0;
}

.textContainer > h1{
    font-size: 3rem;
}

.textContainer > p{
    font-size: 2rem;
}

.button{
    @extend %blackButtons;
    max-width: 5rem;
}



//Mapping.
#mapInfo{
    background-color: $mappingColor;
    color: var(--text-dark);
}

#mapTextContainer{
    padding: 0;
}

#mapTextContainer > h1{
    color: var(--text-dark);
}

#mapTextContainer > p{
    color: var(--text-dark);
}

#mapServiceContainer{
    padding: 6rem 2rem 6rem 2rem;
    background-color: $mappingColor;
    padding-bottom: 9rem;
}

#mapImage{
    border-radius: $imageRadius;
}


//Roofing and construction.
.serviceWrapper{
    display: flex;
    padding: 9rem 2rem 6rem 2rem;;
}

#roofTextContainer{
    color: var(--text-dark);
}

#roofServiceContainer{
    display: flex;
    flex-direction: column;
    background-color: $roofingColor;
}

#roofImage{
    border-radius: $imageRadius;
}

#roofServiceContainer > .serviceWrapper:nth-child(1) > #roofInfo > #roofTextContainer{
    padding-left: 2rem;
}

//Videography container styling.
#videoTextContainer{
    position: relative;
    bottom: 45rem;
}

#videoImage{
    width: 100%;
    position: relative;
    height: 65rem;
}

//Construction styling
.servicesWrapper > .serviceContainer:nth-child(3) > .serviceWrapper:nth-child(2) > .info{
    background-color: rgb(160, 252, 221);
}


//---Mobile responsiveness.---//
@media only screen and (max-width: 1000px) {
    .serviceContainer{
        flex-direction: column;
    }
    //Map styling responsiveness.
    #mapTextContainer{
        margin: 0;
    }
    //Roof inspection & construction responsiveness.
    #roofServiceContainer{
        border: $border gray;
        flex-direction: column;
    }

    .serviceWrapper{
        flex-direction: column;
    }

    #roofServiceContainer > .serviceWrapper:nth-child(1) > #roofInfo > #roofTextContainer{
        padding-left: 0;
    }
    #roofServiceContainer > .serviceWrapper:nth-child(1) > #roofInfo{
        background-color: $roofingColor;
    }
    #roofTextContainer{
        padding-top: 4rem
    }

    #roofTextContainer > h1{
        font-size: 2.8rem;
    }

    //Grabbing the construction container.
    #roofServiceContainer > .serviceWrapper:nth-child(2), #roofServiceContainer > .serviceWrapper:nth-child(2) > .info > .textContainer{
        background-color: rgb(160, 252, 221);
        padding-top: 3rem;
    }

    .image{
        border: $border black;
        height: 30rem;
    }
    .info{
        // border: $border brown;
        height: 38rem;
    }

    #mapInfo{
        padding-right: 0;
    }

    //Real estate.
    #realestateInfo{
        border: $border red;
    }
    #realestateServiceContainer{
        padding: 2.5rem;
    }
    #realestateServiceContainer > h1 > span{
        font-size: 2.5rem;
    }

    //Videography.
    #videoTextContainer{
        padding: 3rem;
    }
    #videoTextContainer > h1{
        font-size: 2.6rem;
    }
    #videoTextContainer > p{
        font-size: 1.8rem;
    }
}

//---Desktop responsiveness---//
@media only screen and (min-width: 1000px){
    .serviceContainer{
        flex-direction: row;
    };
    .info{
        width: 50%;
        // padding: 2rem;
    }
    .image{
        width: 50%;
    }
    .textContainer{
        padding: 2rem;
    }

    //Font will get bigger when its a desktop 
    //screen.
    #videoTextContainer{
        h1{
            font-size: 5rem;
        }
    
        p{
            font-size: 3rem;
        }
    }

    #videoTextContainer{
        padding: 0 5rem 0 5rem;
    }

    //Roofing.
    #roofInfo{
        background-color: $roofingColor;
    }
}

