$divBorder:#dedede;
$divBorderWidth: 0.5px;
$divShadow: 0 1px 8px rgb(0 0 0 / 35%);

.infoContainer{
    border: solid $divBorder;
    border-width: $divBorderWidth;
    position: relative;
    border-radius: 3rem;
    min-width: 20rem;
    max-width: 25rem;
    min-height: 15rem;
    max-height: 20rem;
    margin: 2rem;
    text-align: center;
    padding: 1rem;
    box-shadow: $divShadow;
}