.aboutContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: wrap;
    flex-direction: row;
    margin-bottom: 30rem;
    margin-top: 5rem;
}

.paragraphContainer{
    font-size: 2.5rem;
    padding: 2.5rem;
    max-width: 90rem;
}

.aboutContainer > p{
    border: solid black;
}

span{
    font-weight: bolder;
}

#redirect:hover{
    color: rgb(84, 84, 84);
    cursor: pointer;
}
@media only screen and (max-width:1000px) {
    .imageContainer > img{
        width: 21rem;
        height: 19rem
    }
    .paragraphContainer{
        font-size: 2rem;
    }
}