@use '../../animations';

#carouselProv{
    border: solid green;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.image{
    background-size: contain;
    background-position: center;
    border: solid gray;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    background-color: black;
    border-radius: 0.5rem;
}

.imageContainer{
    border: solid blue;
    height: 70%;
    width: 100%;
    max-height: 90rem;
    align-items: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.imageContainer:hover{
    opacity: 0.5;
    cursor: pointer;
    @extend %fadeInBack;
    animation: fadeInBack 0.2s forwards;
}

.imageContainer > h1 {
    position: absolute;
    font-size: 250%;
    border-radius: 10px;
    padding: 5px;
    background-color: rgb(240, 240, 240, 0.8);
    @extend %contactReveal;
    animation: hoverTransform 0.2s forwards;
}

#nextButton, #backButton{
    position: relative;
    width: 3rem;
}

.jobCarousel{
    z-index: +5;
}