@use '../../button';

.navContainer{
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;
    position: fixed;
    width: 100vw;
    color: var(--text-dark);
    font-weight: 600;
    background-color: var(--background-white);
    border-bottom: solid var(--soft-border);
    border-width: 0.6px;
    z-index: +3;
    align-items: center;
}

.rightNavContainer{
    display: flex;
    justify-content: space-between;
    width: 55%;
    margin-right: 3rem;
}

.navLink{
    font-size: 1rem;

}

.navLink:hover{
    @extend %lightFadeHover;
}

#dropDownLink{
    padding: 1rem;
}

#dropDownLink:hover{
    background-color: var(--text-highlight);
}

#servicesNavBar{
    display: flex;
    padding: 0 0.5rem 0 0.5rem;
    z-index: +1;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    align-items: center;
}
#servicesNavBar > span{
    padding-right: 0.3rem;
}

.servicesDropDown{
    border: solid black;
    position: absolute;
    padding: 1rem;
    top: 2.6rem;
    text-align: center;
    padding-right: 1rem;
    background-color: var(--text-dark);
    color: var(--text-bright);
    font-weight: 100;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    box-shadow: 0 3px 7px rgb(0 0 0 / 35%);
    z-index: +1;
}

#servicesNavBar:hover{
    color: var(--text-bright);
    background-color: var(--text-dark);

}

#navLogo > img{
    height: 3.7rem;
    padding: 0;
}

//Setting the max width for the Hamburger menu
//to appear on the navigation bar
@media only screen and (max-width: 1000px)  {
    .hamburgerMenu{
        margin-right: 3rem;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 2.05rem;
        align-items: center;
        font-size: 2rem;
    }
    .lineOneHm, .lineTwoHm, .lineThreeHm{
        border: solid var(--text-dark);
        width: 1.5rem;
        border-radius: 4px;
        border-width: 0.15rem;
    }
    .navLink{
        display: none;
    }

    #servicesNavBar{
        display: none;
    }
    #navLogo{
        display: block;
    }

}


.hamburgerMenu:hover{
    @extend %lightFadeHover;
}


//Setting the min width for the hamburger menu
//to be on the navigation bar before it no longer
//is visibile
@media only screen and (min-width: 1000px)  {
    .hamburgerMenu{
        display: none;
    }
}


a{
    text-decoration: none;
    color: inherit;
}

.hamburgerNav, .hamburgerNavOut{
    // border: solid purple;
    padding: 1rem 5rem 1rem 5rem;
    position: fixed;
    right: 0;
    top: 5rem;
    width: 254px;
    height: 88.5%;
    z-index: +3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--text-dark);
    color: var(--text-bright);
    border-bottom: solid var(--text-dark);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    animation: slide-right ease-in 0.3s forwards;
}

.hamburgerNavOut{
    animation: slide-out ease-in 0.3s forwards;
}

.navItem{
    display: flex;
    justify-content: center;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    padding: 0.5rem;
}

.navItem:hover{
    @extend %lightFadeHover;
}

.topNavItems{
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 2;
    background-color: var(--text-dark);
}


#services{
    padding-left: 0.9rem;
    border-width: 0.05rem;
    display: flex;
    align-items: center;
}

#services > span{
    padding-right: 0.3rem;
}


.servicesContainer{
    // border: solid brown;
    animation: slide-down ease-in 0.2s forwards;
    z-index: 0;
    color: var(--text-medium);
}


#servicesFadeOut{
    animation: slide-up ease-in 0.2s forwards;
}

.servicesContainer > .navItem{
    padding: 0.25rem;
    font-size: 0.9rem;
}

#bottomNavItems{
    font-size: 0.8rem;
    color: var(--text-bright);
    background-color: var(--text-dark);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}


.icons{
    // border: solid purple;
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
    width: 60%;
}

#bottomNavItems{
    animation: none;
    cursor: auto;
}


#bottomNavItems > .icons > li{
    list-style-type: none;

}

#bottomNavItems > .icons > a:hover{
    @extend %lightFadeHover;
}


// Chevron up and down for services
.arrow{
    width: 0.3rem;
    height: 0.3rem;
    border: 0.2rem solid;
    border-color: transparent rgb(166, 165, 165) rgb(166, 165, 165) transparent;
    transform: rotate(225deg);
}

#arrowDown{
    border-color: rgb(166, 165, 165) transparent transparent rgb(166, 165, 165);
}

@keyframes fade {
    0%   { 
    opacity: 1; 		
    }
    100% { 
    opacity: 0.5;
    }
   }

@keyframes slide-right {
    0%   { 
    transform: translateX(100%);
    opacity: 0; 		
    }
    100% { 
    transform: translateX(0%); 
    opacity: 1;
    }
   }


@keyframes slide-out {
    0%   { 
    transform: translateX(0%);
    opacity: 1; 		
    }
    100% { 
    transform: translateX(100%); 
    opacity: 0;
    }
   }

@keyframes slide-down {
    0%   { 
    transform: translateY(-30%);
    opacity: 0; 		
    }
    100% { 
    transform: translateY(0%); 
    opacity: 1;
    }
   }
