// $solid: solid;
$solid: none;

.faqWrapper{
    border: $solid black;
    min-width: 10rem;
    margin: 3rem;
    min-width: 20rem;
    max-width: 25rem;
    min-height: 15rem;
    max-height: 20rem;
    position: relative;
}

.arrow{
    display: flex;
    justify-content: center;
    padding-top: 0.5rem;
    font-size: 3rem;
    border: $solid purple;
    position: absolute;
    width: 100%;
    top: 5.5rem;
    height: 50%;
    background: linear-gradient(to bottom, rgba(255, 255, 255, .8) 0.1%,rgb(235, 235, 235) 10%);
}

#arrowDown{
    animation: slide-down ease-in 0.7s forwards;
}

@keyframes slide-down {
    0% { 
        transform: translateY(0%);
    }
    100% { 
        transform: translateY(70%); 
    }
   }