.faqsWrapper{
    // border: solid red;
    display: flex;
    flex-flow: wrap;   
    justify-content: center;
    align-items: center;
    margin-bottom: 30rem;
    margin-top: 4rem;
    // flex-direction: ;
}

main > h1{
    margin-left: 2.5rem;
}