// $border: solid;
$border: none;
@use '../../button';

footer{
    border: $border black;
    display: flex;
    flex-direction: row;
    padding: 5rem 1rem 1rem 1rem;
    background-color: black;
    color: rgb(255, 255, 255);
}

ul{
    list-style-type: none;
    margin-top: 0;
    padding-left: 0;
}

//Left navigation section
.navigation{
    border: $border red;
    width: 50%;
    // justify-content: space-between;
}

a:hover{
    @extend %lightFadeHover;
}

.leftList{
    border: $border yellow;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.topNav{
    border: $border gray;
}

.middleNav{
    border: $border purple;
}

.bottomNav{
    border: $border orange;
    font-size: small;
}

//Right navigation section
.socials{
    border: $border green;
    width: 50%;
}

.rightList{
    border: $border blue;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 100%;
}

.socialLinks{
    border: $border brown;
}

.topIconWrapper{
    border: $border white;
    display: flex;
}

.topIconWrapper > a, .bottomIconWrapper > a{
    padding: 0.7rem 0.7rem 0.7rem 0;
}

.socialLinks > h4{
    margin-top: 0;
}

.contactInfo{
    padding-top: 4rem;
    border: $border rgb(200, 149, 149); 
    font-size: small;
}

