// $border: solid;
$border: none;
@use '../../button';

footer{
    border: $border black;
    display: flex;
    flex-direction: row;
    padding: 5rem 1rem 1rem 5rem;
    background-color: black;
    color: rgb(255, 255, 255);
}

ul{
    list-style-type: none;
    margin-top: 0;
    padding-left: 0;
}

//Left navigation section
.navigation{
    border: $border red;
    width: 50%;
}

a:hover, .topNav > li:hover, .middleNav > li:hover{
    @extend %lightFadeHover;
}

.leftList{
    border: $border yellow;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.topNav{
    border: $border gray;
}

.middleNav{
    border: $border purple;
}

.bottomNav{
    border: $border orange;
    font-size: small;
}

//Right navigation section
.bottomCopyright{
    display: none;
}
.socials{
    border: $border green;
    width: 50%;
    padding-left: 2rem;
}

.rightList{
    border: $border blue;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 100%;
}

.socialLinks{
    border: $border brown;
}

.topIconWrapper{
    border: $border white;
    display: flex;
}

.topIconWrapper > a, .bottomIconWrapper > a{
    padding: 0.7rem 0.7rem 0.7rem 0;
}

.socialLinks > h4{
    margin-top: 0;
}

.contactInfo{
    padding-top: 4rem;
    border: $border rgb(200, 149, 149); 
    font-size: small;
}

@media only screen and (max-width: 1000px){
    //General footer styling.
    footer{
        flex-direction: column;
        align-items: center;
        padding: 5rem 1rem 0 1rem;
    }

    //Container stylings.
    .leftList{
        font-size: 1.15rem;
    }
    .bottomNav{
        display: none;
    }
    .bottomCopyright{
        display: block;
        padding-top: 1rem;
    }
    .socialLinks{
        margin-top: 4rem;
    }
    .topIconWrapper{
        justify-content: center;
    }
    .navigation{
        text-align: center;
    }
    .socials{
        text-align: center;
        justify-content: center;
        padding: 0;
    }
}