.infoCardWrapper{
    position: relative;
    top: 4rem;
    // border: solid black;
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    padding: 15rem 0 15rem 0;
}

.servicesWrapper{
    border: solid black;
}