@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300&family=Roboto:wght@100&family=Ubuntu:wght@300&display=swap');

* {
    font-family: var(--IBM);
}


:root {
    --button-color: #313131;
    --text-dark: #363636;
    --text-bright: #f5f5f5;
    --soft-border: #e0e0e0;
    --background-navy: #526fe1;
    --background-yellow: #ebe58d;
    --background-blue: #adf9f5;
    --background-white: #ffffff;;
    --footer: #000000;
    --hamburger: #858585;
    --IBM: 'IBM Plex Sans', sans-serif;
}

body{
    margin: 0;
}
