%buttonAnimation{
    @keyframes hoverFade{
        0%{
            opacity: 1;
        }
        100%{
            opacity: 0.5;
        }
    }
}

%faqRevealContainer{
    @keyframes hoverTransform{
        0%{
            opacity: 1;
        }
        100%{
            opacity: 0.8;
        }
    }
}


%contactReveal{
    @keyframes slide-down {
        0%   { 
            transform: translateY(-30%);
            opacity: 0; 		
        }
        100% { 
            transform: translateY(0%); 
            opacity: 1;
        }
    }
}


%fadeIn{
    @keyframes fadeIn{
        0%{
            opacity: 0;
        }
        100%{
            opacity: 1;
        }
        // 100%{
        //     opacity: 0;
        // }
    }
}