%buttonAnimation{
    @keyframes hoverFade{
        0%{
            opacity: 1;
        }
        100%{
            opacity: 0.5;
        }
    }
}

%faqRevealContainer{
    @keyframes hoverTransform{
        0%{
            opacity: 1;
        }
        100%{
            opacity: 0.8;
        }
    }
}