%blackButtons{
    background-color: var(--button-color);
    color: white;
    border-radius: 4px;
    padding: 0.8rem 2.5rem 0.8rem 2.5rem;
    min-width: 2rem;
    max-width: 3.5rem;
    margin-top: 3rem;
    font-size: 1rem;
};

%blackButtons:hover{
   opacity: 0.5;
   cursor: pointer;
}